.card-conta-titulo{
  width: 45%;
}
.card-conta-valor {
  text-align: right;
  width: 45%;
}

.pago {
   color: #2ec95c;
}

.nao-pago {
  color: #c0392b;
}

.icon-pago {
  icon: \f101;
  color: #2ec95c;
}
