<ion-header>
  <ion-navbar color="rojo">
    <ion-title text-left>{{servicoSelecionado.nomeDaEmpresa}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="inside-tab-content">
  <ion-list class="timeline">
    <ion-card *ngFor="let conta of servicoSelecionado.contas">
      <ion-card-content  (click)="selecionarConta(conta)" class="card-orientation-horizontal">
        <div class="nome-empresa">
          <h2>{{servicoSelecionado.nomeDaEmpresa}}</h2>
          <p><span class="{{conta.situacao}}">R${{conta.valor}}</span></p>
        </div>
        <div class="descricao-gasto">
          <p>{{conta.vencimento}}</p>
          <ion-badge color="danger" *ngIf="conta.emAtraso">Atrasada</ion-badge>
          <ion-badge color="ciano" *ngIf="!conta.emAtraso && !conta.pago">Venc. próximo</ion-badge>
          <ion-badge color="secondary" *ngIf="conta.pago">Pago</ion-badge>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
