.container-pagamento{
    text-align: center;
}
.valor{
    font-size: 36px;
    color: #2C006A;
    margin-bottom: 0px;
    margin-top: 0;
}
.code{
    font-weight: lighter;
    font-size: 16px;
}
.nome-empresa{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
.obs-texto{
    font-size: 12px;
    color: darkgray;
}

.destaque-do-prazo {
    color: #0BC0D3;
}